body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #F4EDE7;
  color: #111827;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;       /* WAJIB */
  overflow: hidden;  
}

/* SIDEBAR */
.logo-section {
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 30px;
}

.sidebar {
  width: 220px;
  background: white;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
 
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #41431B;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-bottom {
  margin-top: auto;
  margin-bottom: 30px;
}

.menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 14px;
}

.menu-item.active {
  background: #ede9fe;
  color: #6d28d9;
  font-weight: 500;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* HEADER */
.header {
  background: #99bb9b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* STATS */
.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat-box {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.stat-box:nth-child(1) {
  background: #431b1b;
}

.stat-box:nth-child(2) {
  background: #be81b9;
}

.stat-box:nth-child(3) {
  background: #edd146;
}

.stat-box:nth-child(4) {
  background: #94a3b8;
}

/* GRID PROJECT */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARD */
.card {
  background:#E4DFB5;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

/* TASK */
.task {
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background: #f9fafb;
}

/* BADGE */
.badge {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.done {
  background: #22c55e;
  color: white;
}

.progress {
  background: #3b82f6;
  color: white;
}

.todo {
  background: #9ca3af;
  color: white;
}

/* BUTTON */
.add-btn {
  margin-top: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #41431B;
  color: white;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 10px;
  margin: 10px 0;
}

.progress-fill {
  height: 100%;
  background: #4caf50;
  border-radius: 10px;
  transition: 0.3s;
}